{% if student %}
<div class="card mt-4" >
    <div >
        <h5 >Student Information</h5>
    </div>
    <div class="card-body" style="padding-bottom: 10px;" >
        <p class="card-text"><strong>ID Number:</strong> {{ student.id_number }}</p>
        <p class="card-text"><strong>Full Name:</strong> {{ student.full_name }}</p>
        <p class="card-text"><strong>Committee:</strong> {{ student.committee }}</p>
        <p class="card-text"><strong>Position:</strong> {{ student.position }}</p>
        <p class="card-text">
            <strong>Attendance:</strong> 
                {% if not student.attendance  %} Has not attended {% else %} Has attended {% endif %}
            <form method="POST" hx-post="edit_attendance" hx-target="#student_result" class="d-inline float-right" hx-confirm="Confirm">
                {% csrf_token %}
                <input name="attendance" hidden type="number" value="{{ student.id_number }}">
                {% if not student.attendance %}
                    <button type="submit" class="badge badge-success badge-pill" style="cursor: pointer;" hx-confirm="Confirm">Mark Attendance</button>
                {% else %}
                    <button type="submit" class="badge badge-danger badge-pill" style="cursor: pointer;" hx-confirm="Confirm">Unmark Attendance</button>
                {% endif %}
            </form>
        </p>
    </div>
</div>

{% endif %}

{% if method == 'POST' %}
<div class="card mt-4" >
    <div >
        <h5 >Student #{{id_number}} is not found in the Database.</h5>
    </div>
    
</div>

{% endif %}