@font-face {
    font-family: 'Subjectivity';
    src: url('/static/Subjectivity-Bold.otf') format('opentype');
}
* {
    box-sizing: border-box;
    font-family: 'Subjectivity';
	overflow: visible;
}
@font-face {
    font-family: 'Subjectivity';
    src: url('/static/Subjectivity-Bold.otf') format('opentype');
}
html{
	height: 150%;
}

body {
	margin: 0px;
	padding: 0rem;
	background-color: #784df3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 100dvh;
}
.navbar {
    background-color: #fffaed;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
    position: fixed; /* Keep navbar at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
}
.card {
	margin: auto;
	background-color: #fffaed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	width: 50%;
}

.input-group {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.input-box {
	margin-top: 3rem;
	background-color: aliceblue;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	cursor: auto;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

.input-box:focus {
	outline: none;
	border-color: #784df3; /* Optionally change border color on focus */
}

.main-btn {
	color: #fffaed;
	margin-top: 1rem;
	padding: 1rem;
	font-weight: bold;
	background-color: #f79739;
	cursor: pointer;
	border-radius: 40px;
	border-width: 0;
}

.main-btn:hover {
	background-color: #bd742a;
	transition-duration: 0.2s;
}

.confirm-btn {
	color: #fffaed;
	margin-top: 1rem;
	padding: 1rem;
	font-weight: bold;
	background-color: #f79739;
	border-radius: 40px;
	border-width: 0;
}

.confirm-btn:hover {
	background-color: #bd742a;
	transition-duration: 0.2s;
}
.confirm-btn:disabled {
	color: gray;
	margin-top: 1rem;
	padding: 1rem;
	font-weight: bold;
	background-color: lightgray;
	border-radius: 40px;
	border-width: 0;
}

.enroll-status {
	display: none;
	width: auto;
	padding: 1rem;
	background-color: #fffaed;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #2633d5;

	border-radius: 20px;
}

.main-btn-container {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

#clearButton {
	display: none;
}

@keyframes slideInRight {
	from {
		transform: translateX(700px);
	}
	to {
		transform: translateX(0px);
	}
}

#studentInformation {
	padding: 4rem;
	display: none;
	background-color: #fffaed;
	flex-direction: column;
	width: 50%;
	height: 100%;

	animation-name: slideInRight;
	animation-duration: 0.8s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;

	transition: 0.4s;
}

@keyframes slideOutRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(900px);
	}
}
#studentInformation.active {
	animation-name: slideOutRight;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

.input-box.disabled {
	background-color: #e0e0e0; /* Light gray background to indicate disabled */
	pointer-events: none; /* Disable all interactions */
	color: #a0a0a0; /* Gray text color to indicate disabled */
}

img {
	display: flex;
	width: 400px;
}

#studentInformationHeader {
	color: #784df3;
}

.left-container {
	margin-top: 30px;
	width: 100%;
	height: 100%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.student-detail-value {
	position: absolute;
	margin-left: -5px;
	display: inline-block;
	font-size: small;
	color: #fffaed;
	width: 400px;
	box-sizing: border-box;
}

.student-detail-label,
#student-detail-label {
	padding: 10px;
	display: inline-block;
	font-size: small;
	color: #2633d5;
	border: 3px solid #2633d5;
	border-radius: 10px 0 0 10px;
	width: 140px;
	box-sizing: border-box;
}

.forms h2 {
	text-align: center;
	color: #f79739;
}

.form-control {
	width: 100%;

	padding: 10px;
}

.form-control label {
	display: block;
	padding: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 10px;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

.form-control input:focus {
	outline: none;
	border-color: #784df3;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}