{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="main-content">
            <div class="card" style="margin-top: 100px;">
                
                <div class="col-md-6">
                    <form method="POST" hx-post="/website/check_student" hx-target="#student_result">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="number" id="id_number" name="id_number" class="form-control" placeholder="Enter ID: 226508 " required>
                        </div>
                        <div class="main-btn-container">

                        <button type="submit" class="main-btn">Check in Student Database</button>				</div>

                    </form>
                </div>
            </div>

            <div class="mt-4" id="student_result">
                {% include 'partials/student_info.html' %}
            </div>    </div>
{% endblock content %}
